<h2>Editing "<%= @author.name %>"</h2>
<%= form_tag author_path(@author), method: "patch" do %>
<% if @author.errors.any? %>
  <h2>There were some errors:</h2>
  
    <% @author.errors.full_messages.each do |error| %>
    <ul>
    <li><%= error %></li>
      
  </ul>
  <% end%>
  <% end%>
  <div class="field">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>
  <div class="field">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @author.email %>
    
  </div>
  <div class="field">
    <%= label_tag "phone_number", "Phone_number" %>
    <br />
    <%= text_area_tag "phone_number", @author.phone_number %>
  </div>
  <%= submit_tag "Update" %>
<% end %>

